.tamano2 {
		margin-top: 15px;
		margin-right: 15px;
		margin-bottom: 15px;
		margin-left: 15px;
		width: 100%;
		height: 100%; 
}

.tamano{ 
		margin-top: 15px;
		margin-right: 15px;
		margin-bottom: 15px;
		margin-left: 15px;
		resize: both; 
		width:550px; 
		height:550px; 
}
.marco {
    background: linear-gradient(#ff3021 16%,#c61fa3 51%,#1f33f0 84%);
		margin-top: 2px;
		margin-right: 2px;
		margin-bottom: 2px;
		margin-left: 2px;
    padding: 2px;
		width: 100%;
}

.borde {	
		border-width: 17px;
		border-style: ridge;
		border-color: #970ac1;
		border-radius: 40px 0px 40px 0px;
}

table {
		/* Para centrar usamos "auto" en la alineación horizontal */
    margin: 0 auto;
		/*Lo siguiente es para los bordes*/
    border-collapse: separate;
		border-spacing: 2px;
}
