@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('http://fonts.cdnfonts.com/css/minecraft-4');
@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body {
		background-color:#7787EA;
}

#shadowBox {
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2);
  /* Black w/opacity/see-through */
  border: 3px solid;
}

.flash {
		font-size: 380%;
		text-align: center;
		font-family: "Bebas Neue", cursive; 
		letter-spacing: 5px;
		animation: colorRotate 0.5s linear 0s infinite;
}

@keyframes colorRotate {
  from {
    color: #FFFFFF;
  }
  25% {
    color: #000000;
  }
  50% {
    color: #FFFFFF;
  }
  75% {
    color: ##000000;
  }
  100% {
    color: #FFFFFF;
  }
}

.head1 {
		font-size: 300%;
		text-align: left;
		font-family: "Open Sans", sans-serif; 
}

.head2 {
		font-size: 300%;
		text-align: left;
		font-family: 'Permanent Marker', cursive;
}
.head3 {
		font-size: 300%;
		text-align: left;
		font-family: 'Bungee', cursive;
}
.p1{
		font-size: 100%;
		text-align: left;
		font-family: 'Minecraft', sans-serif;
}
.p2{
		font-size: 100%;
		text-align: left;
		font-family: 'Ramaraja', serif;
}
.p3{
		font-size: 100%;
		text-align: left;
		font-family: 'Orbitron', sans-serif;
}

.rainbow {
		font-size: 500%;
		text-align: left;
		font-family: 'Yanone Kaffeesatz', sans-serif;
		background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}

.audio {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
