body {
		background-color:#E7E8E6;
}

#shadowBox {
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2);
  /* Black w/opacity/see-through */
  border: 3px solid;
}

.flash {
		font-size: 380%;
		text-align: center;
		font-family: 'Anton', sans-serif;
		letter-spacing: 5px;
		animation: colorRotate 0.5s linear 0s infinite;
}

.font{
		font-size: 280%;
		font-family: 'Anton', sans-serif;
		letter-spacing: 5px;
		text-decoration: underline black;

}

.font2{
		font-size: 130%;
		font-family: 'Lora', serif;
		letter-spacing: 5px;

}

@keyframes colorRotate {
  from {
    color: #2D9E14;
  }
  25% {
    color: #000000;
  }
  50% {
    color: #2D9E14;
  }
  75% {
    color: ##000000;
  }
  100% {
    color: #2D9E14;
  }
}

.marco {
		outline: 15px	dashed #289508;

}

.dim {
		outline: 15px	dashed #289508;
		height: 500px;
		width: 500px;
		display:block;
		margin:auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
		background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.monito{
		text-align:center;
		font-size: 150%;
		font-family: 'Anton', sans-serif;
}


